body {
    background:rgb(241, 236, 187);
    margin:auto;
    width: 70%;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
}

#websites ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	background: #9C9C9C;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}

